body {
    font-family: 'Montserrat', sans-serif;
}

.card {
    width: 18rem;
}

hr {
    opacity: 1 !important;
}

footer p {
    font-size: 0.8rem;
}

.img {
    object-fit: cover;
    height: auto;
    width: 100%
}

.scroll{
    overflow:auto;
    height: 150px;
}

.fa-solid, .fa-regular {
    color: #ffa41c;
}

